h1.main_page_title { 
    color: black;
    text-align: center;
    font-size: 90px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 17%;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
}
body.Mainpage {
    background-image: url(Using-Technology-To-Reduce-Paper-Waste.jpg);
    background-size: auto;
    background-position: center;
    height: 460px;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
section.top {
    background-image: url(profimedia-0218461200_biggalleryimage.jpg);
    background-size: auto;
    background-position: center;
    height: 460px;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;  
}
ul.Navigation { 
    margin: 0;
    padding: 10px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
nav {
    height: auto;
    background-color: dimgrey;
}
iframe.desktop {
    display: show;
}
iframe.Mobile {
    display: none;
}
section {
    background-color: whitesmoke;
    padding: 0 5;
    margin:0 10%;
}
section.feedback {
    background: none;
}
button {
    font-size: 125%;
    margin: 2px;
    padding: 3px;
    font-family: 'Almarai';
}
button:hover {
    background-color: cyan;
    text-decoration: underline;
    cursor: pointer;

}
@media screen and (max-width: 1120px) {
    button {
     font-size: 115%; 
 }
 }
 @media screen and (max-width: 991px) {
     button {
      font-size: 105%; 
  }
 }
 @media screen and (max-width: 800px) {
     nav {
         text-align: center;
     }
     iframe.Desktop {
         display: none;
     }
     iframe.Mobile {
         display: inline-block;
     }
     h1.main_page_title {
         font-size: 75px;
     }
 }